<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
    	xmlns:tx="http://www.springframework.org/schema/tx">


	<!-- ESCANEA PARA ENCONTRAR LOS CONTROLLERS -->
	<context:component-scan base-package="frgp.utn.edu.ar"></context:component-scan>

	<mvc:annotation-driven />

	<!-- CONFIGURO QUE VISTAS SE LE VA A DEVOLVER AL USUARIO -->

	<bean
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
		
		<!-- ESTA PARTE SE PUEDE MODIFICAR -->
		<property name="prefix" value="WEB-INF/Vistas/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

</beans>
